<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @clidistrict.name %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @clidistrict.postalcode %>
</p>


<%= link_to 'Edit', edit_clidistrict_path(@clidistrict) %> |
<%= link_to 'Back', clidistricts_path %>
