<h1>LISTAR COMENTARIOS</h1>

<table border=2>
  <tr>	
    <th>Comentario</th>
    <th>Calificacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.comment %></td>
    <td><%= comment.calification %></td>
    <td><%= link_to 'Mostar', comment %></td>
    <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
    <td><%= link_to 'Eliminar', comment, confirm: 'Esta seguro que desea eliminar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Comentario', new_comment_path %>
