<table border="0" width="100%">
<%= form_for(@user) do |f| %>
<tr>
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>
</tr>
<tr>
  <div class="field">
  	<td><%= f.label "Nombre" %></td>
    <td><%= f.text_field :name %></td>
	<td></td>
	<td></td>
  </div>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
  <div class="field"><br />
  	<td><%= f.label "Apellido Paterno" %></td>
  	<td><%= f.text_field :lastname %></td>
  	<td><%= f.label "Apellido Materno" %></td>
  	<td><%= f.text_field :maidenname %></td>
  </div>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
  <div class="field"><br />
  	<td><%= f.label "Sexo" %></td>
    <td><%= f.radio_button :sex, "Femenino" %> Femenino
	<%= f.radio_button :sex, "Masculino" %> Masculino</td>
	<td></td>
	<td></td>
  </div>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
  <div class="field"><br />
  	<td><%= f.label "Tipo de Documento" %></td>
    <td><%= f.select :documenttype_id, @documenttype_array, :prompt => "Seleccione tipo de documento"  %></td>
  	<td><%= f.label "Numero de Documento" %></td>
    <td><%= f.text_field :documentnumber,
    :size => User::MAX_SIZECAMPO,
    :maxlength => User::MAX_NUMDOCUMENTO %></td>
  </div>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
  <div class="field"><br />
  	<td><%= f.label "Correo" %></td>
    <td><%= f.text_field :email %></td>
    <td><%= f.label "Repetir Correo" %></td>
    <td><%= f.text_field :email_confirmation %></td></td>
  </div>
</tr>
<tr>
  <div class="field"><br />
  	<td><%= f.label "Contraseña" %></td>
    <td><%= f.password_field :password %></td>
    <td><%= f.label "Repetir Contraseña" %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </div>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
  <div class="field"><br />
  	<td><%= f.label "Fecha de Nacimiento" %></td>
    <td><%= f.date_select :datebirth %></td>
	<td></td>
	<td></td>
  </div>
</tr>
<tr>
  <div class="actions">
	<td></td>
	<td></td>
    <td><%= f.submit "Guardar" %></td>
	<td></td>
  </div>
 </tr>
<% end %>
