<table border="0" width="100%" align="top">
<tr>
<td colspan="4"><h2 align="center"> Login </h2></td>
</tr>
<tr>
<td colspan="4">.</td>
</tr>
<tr>
<td colspan="4" align="center"><%= flash[:notice] %></td>
</tr>
<%= form_for :user do |f| %>
<tr>
	<td width="25%"></td>
  <div class="field"><br />
  	<td width="25%"><%= f.label "Correo" %></td>
    <td width="25%"><%= f.text_field :email %></td><br />
  </div>
  <td width="25%"></td>
</tr>
<tr>
	<td width="25%"></td>
  <div class="field"><br />
  	<td width="25%"><%= f.label "Contraseña" %></td>
    <td width="25%"><%= f.password_field :password %></td><br />
  </div>
  <td width="25%"></td>
</tr>
<tr>
<td width="25%"> </td>
<td width="25%"> </td>
<td width="25%"> </td>
<td width="25%"> </td>
</tr>
<tr>
<td colspan="4" align="center">
  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
</td>
</tr>
<% end %>
</table>