<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.name %>
</p>

<p>
  <b>Apellido Paterno:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Apellido Materno:</b>
  <%= @user.maidenname %>
</p>

<p>
  <b>Sexo:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Tipo de Documento:</b>
  <%= @user.documenttype.shortname %>
</p>

<p>
  <b>Numero de Documento:</b>
  <%= @user.documentnumber %>
</p>

<p>
  <b>Correo:</b>
  <%= @user.email %>
</p>

<p>
  <b>Contraseña:</b>
  <%= @user.password %>
</p>

<p>
  <b>Fecha de Nacimiento:</b>
  <%= @user.datebirth %>
</p>



<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atras', users_path %>
