<html>
<head>
  <title><%= @titulo %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
	<div id="topbar">
	  <ul> 
		<li><%= link_to_unless_current "Inicio", home_url %></li>
		<li><%= link_to_unless_current "Locales", home_url %></li>
		<li><%= link_to_unless_current "Canchas", home_url %></li>
		<li><%= link_to_unless_current "Publicidad", home_url %></li>
		<li><%= link_to_unless_current "Acerca de", home_url %></li>
	  </ul>
	</div>
	
	<div id="header">
		<div id="sitename">
			<h1 id="logo">EPE-Soft</h1>
		</div>
		
		<div id="shoutout"><img src="/assets/joinnow_shoutout.png" alt="Join Now! It's Free" width="168" height="126" />
		</div>
		
		<div id="useractions">
			<div id="headings"> 
				<h2><img src="/assets/create_indi_usr.jpg" alt="Individual User" width="25" height="22" /> 
				<%= link_to_unless_current "Usuarios", reguser_url %> </h2>   
				<h2><img src="/assets/create_agent_icon.jpg" alt="Agent Account" width="27" height="22" /> 
				<%= link_to_unless_current "Clientes", :controller=>"users", :action=>"new" %> </h2>
				<h2><img src="/assets/create_agent_icon.jpg" alt="Agent Account" width="27" height="22" /> 
				<%= link_to_unless_current "Login", login_url %> </h2>
				<h2><img src="/assets/create_agent_icon.jpg" alt="Agent Account" width="27" height="22" /> 
				<%= link_to_unless_current "Logout", home_url %> </h2>
			</div>
		</div>
	</div>

<%= yield %>
</div>
</body>

</html>
